<html>
    <body>
        <form method="post" action="/submit">
           <input type="text" id="title" name="title">
           <button type="submit" value="submit">Enter the Rank</button>
        </form>
        
    </body>
</html>